@import url('https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css');

:root {
  --background-color1: rgba(45, 102, 236, 0.089);
  --background-color2: rgba(73, 153, 219, 0.37);
  --nav-color: rgb(73, 153, 219);
  --nav-color2: rgb(55, 116, 165);
}

body {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(
      ellipse at top,
      var(--background-color1),
      transparent
    ),
    radial-gradient(
      ellipse at bottom,
      var(--background-color2),
      transparent
    );
  /* font-family: 'Source Sans Pro', sans-serif; */
}

/* format */
.flex-row {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: linear-gradient(
    to bottom,
    var(--nav-color),
    var(--nav-color2)
  );
  box-shadow: 0 0 10px gray;
  padding: 7px;
  color: white;
}

.race-font {
  margin: 0;
  font-family: 'Racing Sans One', cursive !important;
}

.NavDropdown {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  /* padding: 5px; */
}

.NavDropdown:hover,
.NavDropdown:enabled {
  background-color: transparent;
  border: none;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: white;
  background-color: transparent;
  border-color: none;
}

.ui.basic.inverted.button {
  color: white !important;
  box-shadow: none !important;
}

.ui.basic.inverted.button:hover {
  color: white !important;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.342) inset !important;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.342) inset !important;
}

.ui.basic.inverted.button:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.342) inset !important;
  box-shadow: 0 0 0 2px rgba(218, 214, 214, 0.342) inset !important;
}

/* .ui.basic.inverted.button:hover,
.ui.basic.inverted.buttons .button:hover {
  color: #fff !important;
  -webkit-box-shadow: 0 0 0 2px #fff inset !important;
  box-shadow: 0 0 0 2px #fff inset !important;
} */

.navoptions {
  margin-left: auto;
  width: 115px;
  display: flex;
  justify-content: flex-end;
}

label {
  margin-top: 7px;
}

.ui.toggle.checkbox label:before {
  background-color: rgba(0, 0, 0, 0.15);
}

.ui.toggle.checkbox input:focus ~ .box:before,
.ui.toggle.checkbox input:focus ~ label:before {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: rgba(245, 245, 245, 0.39) !important;
}

.ui.toggle.checkbox input:checked ~ label:before {
  background-color: rgba(245, 245, 245, 0.39) !important;
}

.ui.dropdown .menu > .divider {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  height: 0;
  margin: 0 !important;
}

/* .ui.dropdown .menu {
    cursor: auto;
    position: absolute;
    display: none;
    outline: 0;
    top: -50%!important;
}

.ui.dropdown .menu .menu {
    top: -2px!important;
    left: 125%!important;
    margin: 0 0 0 -.5em!important;
    border-radius: .28571429rem!important;
    z-index: 21!important;
}

.ui.dropdown .menu .menu .item {
    padding: .78571429rem 1.14285714rem!important
}

.ui.dropdown .menu>.item {
    padding: 0 16px!important;   
}

#team-drop {
    padding: 0 16px!important;   
}

.ui.dropdown.left.pointing.link.item {
    padding: 11px 0;
    width: 100%;
    height: 36px!important;
} */

.invite-label {
  top: 1.5em !important;
  left: 105% !important;
  box-shadow: 0.3px 0.3px 2px black;
}

/* wrappers */
.project-view {
  height: calc(100vh - 50px);
  width: 100%;
  padding: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
}

.project-view::-webkit-scrollbar {
  display: none;
}

.project-view::after {
  content: '';
  min-width: 5px;
}

.home-view {
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  overflow-wrap: normal;
  align-content: flex-start;
  overflow-y: auto;
}

/* column */
.column {
  width: 15%;
  min-width: 290px;
  height: fit-content;
  min-height: 150px;
  background-color: whitesmoke;
  margin: 10px;
  padding-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

.column-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 4px 5px -5px lightgray;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-counter {
  background: linear-gradient(
    to bottom,
    var(--nav-color),
    var(--nav-color2)
  );
  border-radius: 20px;
  color: white;
  height: fit-content;
  padding: 2px 8px;
  margin: 0 5px;
  font-size: 12px;
  align-self: center;
}

.clickable {
  cursor: pointer;
}

.card-container {
  padding: 8px 6px;
  max-height: 80vh;
  overflow-y: scroll;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.add-column {
  color: rgba(46, 46, 46, 0.65);
  min-height: 60px;
  padding: 10px;
  background: rgba(245, 245, 245, 0.438);
  box-shadow: 1px 1px 5px rgba(173, 173, 173, 0.377);
  transition: all 0.2s ease-in-out;
  justify-content: space-around;
}

.addhover:hover,
.addform {
  color: rgb(0, 0, 0);
  background: whitesmoke;
}

.add-column > h5 {
  margin-top: 10px;
}

.add-close {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */

.card {
  width: 100%;
  border-radius: 15px;
  margin: 6px 0;
}

.card-title {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 4px;
  border-bottom: 1px solid whitesmoke;
}

.card-body {
  padding: 14px;
  display: inline-block;
}

.card-text {
  min-height: 30px;
  white-space: pre-wrap;
}

.created-by {
  font-size: 9px;
  min-height: 0;
  height: 14px;
  max-height: fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 0;
}

.card-footer {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  padding: 8px 8px;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
}

code {
  background-color: rgb(230, 230, 230);
  color: rgb(0, 156, 0);
  border-radius: 5px;
  padding: 1px 3px;
  font-size: 13px;
}

.label {
  height: 15px;
  border-radius: 15px;
  font-size: 10px;
  line-height: 0.25em;
}

.ui.mini.label,
.ui.mini.labels .label {
  height: fit-content;
  font-size: 0.64285714rem;
  margin: 2px 2px !important;
}

.ui.basic.label:hover {
  /* transition: all .3s; */
  background: var(--nav-color) !important;
  border: 1px solid var(--background-color1) !important;
  color: white !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* rodal */
.rodal-close {
  display: none !important;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 2px;
  width: 32%;
}

.datepicker {
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0.67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  -webkit-transition: border-color 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.saveButton {
  border-radius: 5px;
  color: white !important;
  border: none;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    var(--nav-color),
    var(--nav-color2)
  ) !important;
}

/* Invite modal */

.invite-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.invite-list {
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  height: auto;
  max-height: 159px;
  overflow-y: auto;
  background-color: white;
  padding: 4px!important;
}

.invite-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}

.invite-buttons {
  margin-left: auto !important;
}

.ui.search > .ui.input.icon {
     width: 310px;
     margin: 16px;
}

.ui.fluid.search .results {
    width: 100%;
    max-height: 287px;
    overflow: auto;
    top: 80%;
}

/* task modal */

.space-between {
  display: flex;
  justify-content: space-between;
}

.title-input {
  width: 100%;
  border: none;
  height: 35px;
  border-radius: 5px;
}

.task-description {
  width: 100%;
  margin: 20px 0 10px;
}

.task-textarea {
  width: 100%;
  border: none;
  height: 200px;
  border-radius: 5px;
}

.function-container {
  width: 200px,
}

.task-function {
  background-color: lightgray;
  border-radius: 3px;
  border: none;
  color: gray;
  padding: 8px;
  margin: 8px;
}

/* label modal */

.label-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.label-colors {
  height: 30px;
  width: '100%';
  justify-content: 'center';
  margin: '5px';
}

/* project modal */

.proj-title-input {
  width: 80%;
  height: 35px;
  border-radius: 5px;
}

.proj-dropdown {
  margin: 6px;
  width: 80%;
}

.datepicker-cont {
  height: 30px;
  width: 100%;
  justify-content: center;
  margin: 5px;
}

/* homeview */

.add-project {
  height: 100px;
  width: 160px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
  margin: 4px 4px 4px
}

.home-view-cont {
  width: 80%;
  height: 75%;
  max-width: 1045px;
  max-height: 600px;
  display: flex;
}

.error-text {
  color: red;
}

.projcard {
  position: relative;
  height: 100px;
  width: 160px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
  margin: 4px 4px 4px!important;
  font-weight: bold;
  color: white;
  padding: 0!important;
}

.projcard:hover {
  transform: scale(1.02);
  transition: transform .3s ease-in-out;
}

.projcard-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: inherit;
  height: inherit;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, transparent, rgba(10, 10, 10, .3))
}

.projcard-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  padding: 4px;
  color: rgba(255, 255, 255, .2);
}

.team-menu {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  height: calc((100vh - 50px) * .75);
}

/* Drawer views */

.drawer-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 5px;
}

.drawer-description {
  padding: 10px;
  text-align: center;
  color: grey;
}

.linebreak {
  margin: 20px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.label-column {
  padding: 10;
  font-size: 12px;
  color: grey;
}

.label-column > p {
  margin: 5px;
}

/* transition */

.home-transition {
  transition: all .5s linear;
}

.offset {
  transform: translateX(95px)
}

.avatars {
  margin-bottom: .25em; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.349);
  transition: transform 0.3s ease
}

.avatars:hover {
  transform: scale(1.1)
}