@import url("https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css");

:root {
    --background-color1: rgba(45, 102, 236, 0.089);
    --background-color2: rgba(73, 153, 219, 0.37);
    --nav-color: rgb(73, 153, 219);
    --nav-color2: rgb(55, 116, 165);
}

body {
    height: 100vh;
    overflow: hidden;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

/* format */
.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: linear-gradient(to bottom, var(--nav-color), var(--nav-color2));
    box-shadow: 0 0 10px gray;
    padding: 2px;
    color: white;
}

.race-font {
    margin: 0;
    font-family: 'Racing Sans One', cursive !important;
}

.NavDropdown {
    background-color: rgba(255,255,255, 0.3);
    border: none;
}

.NavDropdown:hover, .NavDropdown:enabled{
    background-color: transparent;
    border: none;
}

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle {
    color: white;
    background-color: transparent;
    border-color: none;
}

.navoptions {
    width: 125px;
    justify-content: space-between;
}

label {
    margin-top: 7px
}

.ui.toggle.checkbox label:before {
    background-color: rgba(0,0,0,.15);
}

.ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label:before {
    background-color: rgba(0,0,0,.15);
    border: none;
}

.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: rgba(245, 245, 245, 0.39)!important;
}

.ui.toggle.checkbox input:checked~label:before {
    background-color: rgba(245, 245, 245, 0.39)!important;
}

.ui.dropdown .menu {
    cursor: auto;
    position: absolute;
    display: none;
    outline: 0;
    top: -50%;
}

/* wrappers */
.project-view {
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    background: radial-gradient(ellipse at top, var(--background-color1), transparent),
    radial-gradient(ellipse at bottom, var(--background-color2), transparent);
}

.project-view::-webkit-scrollbar {
    display: none;
}

.project-view::after {
    content: '';
    min-width: 5px
}

/* column */
.column {
    width: 15%;
    min-width: 290px;
    height: fit-content;
    min-height: 150px;
    background-color: whitesmoke;
    margin: 10px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}

.column-header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 4px 5px -5px lightgray;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-counter {
    background: linear-gradient(to bottom, var(--nav-color), var(--nav-color2));
    border-radius: 20px;
    color: white;
    height: fit-content;
    padding: 2px 8px;
    margin: 0 5px;
    font-size: 12px;
    align-self: center;
}

.clickable {
  cursor: pointer;
}

.card-container {
    padding: 8px 6px;
    max-height: 80vh;
    overflow-y: scroll;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.add-column {
    color: rgba(46, 46, 46, 0.65);
    min-height: 60px;
    padding: 10px;
    background: rgba(245, 245, 245, 0.438);
    box-shadow: 1px 1px 5px rgba(173, 173, 173, 0.377);
    transition: all .2s ease-in-out;
}

.addhover:hover, .addform {
    color: rgb(0, 0, 0);
    background: whitesmoke;
}

.add-column > h5 {
    margin-top: 10px;
}

.add-close {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cards */

.card {
    width: 100%;
    border-radius: 15px;
    margin: 6px 0;
}

.card-body {
    padding: 14px;
}

.card-footer {
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
    padding: 6px 10px;
}

.label {
    height: 15px;
    border-radius: 15px;
    font-size: 10px;
    line-height: 0.25em;
}