:root {
    --background-color1: rgba(45, 102, 236, 0.089);
    --background-color2: rgba(73, 153, 219, 0.37);
    --nav-color: rgb(73, 153, 219);
    --nav-color2: rgb(55, 116, 165);
}

body {
    height: 100vh;
    overflow: hidden;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: linear-gradient(to bottom, var(--nav-color), var(--nav-color2));
    box-shadow: 0 0 10px gray;
    padding: 2px;
    color: white;
}

/* wrappers */
.project-view {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background: radial-gradient(ellipse at top, var(--background-color1), transparent),
    radial-gradient(ellipse at bottom, var(--background-color2), transparent);
}

/* column */
.column {
    width: 15%;
    min-width: 290px;
    height: fit-content;
    min-height: 150px;
    background-color: whitesmoke;
    margin: 10px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}

.column-header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 4px 5px -5px lightgray;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.card-counter {
    background: linear-gradient(to bottom, var(--nav-color), var(--nav-color2));
    border-radius: 20px;
    color: white;
    height: fit-content;
    padding: 2px 8px;
    margin: 0 5px;
    font-size: 12px;
    align-self: center;
}

.clickable {
  cursor: pointer;
}

.card-container {
    padding: 4px;
    max-height: 80vh;
    overflow-y: scroll;
}

.card-container::-webkit-scrollbar {
    display: none;
}

/* cards */

.card {
    width: 100%;
    border-radius: 15px;
    margin: 6px 0;
}

.label {
    height: 15px;
    bottom: 10px;
    left: 15px;
    position: absolute;
    border-radius: 15px;
    font-size: 10px;
    line-height: 0.25em;
}